@{

    ViewData["Title"] = "Forgot Password";

}



<h3>Recover Your Password</h3>

<form asp-action="ForgotPassword" method="post">

    @Html.AntiForgeryToken()



    <div class="mb-3">

        <label for="InstituteCode">Registered Institute Code</label>

        <input type="text" name="InstituteCode" class="form-control" required />

    </div>



    <button type="submit" class="btn btn-primary">Next</button>

</form>